:root {
  --board-width: 1;
  --board-height: 1;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d33;
}

#game-board {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: repeat(var(--board-height), 1fr);
  grid-template-columns: repeat(var(--board-width), 1fr);
  width: 600px;
  height: 600px;
}

.board-block {
  width: 40px;
  height: 40px;
  border: 1px solid white;
}